.container-VC {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

heading-VC {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    position: relative;
    width: 100%;
  }
  
  .card-VC {
    background-color: azure;
    border: 1px solid ghostwhite;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    width: 1000px;
}
