.package-card-list {
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.package-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
}

.package-card h4 {
    margin-bottom: 10px;
}

.package-card p {
    margin: 5px 0;
}

.package-card strong {
    font-weight: bold;
}

.book-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #090909;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #0056b3;
}